:root {
    --primary-color:#e50914;
    --border-color: #222;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #999;
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}

ul {
    list-style: none;
}

h1, h2, h3, h4 {
    color: #fff;
}

a {
	color: #fff;
	text-decoration: none;
}

img {
    width: 100%;
}

.showcase {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("/images/background-img.jpg") no-repeat center center/cover;
}

.showcase::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.4);
	box-shadow: inset 0px 80px 220px #000000, inset 0px -80px 220px #000000;
}

.showcase-top {
    position: relative;
    height: 90px;
    z-index: 2;
}

.showcase-top img {
    position: absolute;
    width: 135px;
    top: 30%;
    left: 55px;
}

.showcase-top a {
    position: absolute;
    top: 30%;
    right: 40px;
}

.showcase-content {
    position: relative;
    display: flex;
    z-index: 2;
    margin: 100px auto;
    padding: 51px 45px 0 45px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.showcase-content h1{
    margin: 0 45px 16px 45px;
    max-width: 640px;
}
.showcase-content h2 {
    font-weight: 200;
    margin: 0 45px 32px 45px;
}
.showcase-content h3 {
    font-weight: 200;
    margin: 0 45px 16px 45px;
}

.form {
    position: relative;
    display: flex;
}

.form a i {
    margin-left: 15px;
}
#email {
    padding: 18px 5px;
    width: 450px;
    font-size: 18px;
    border-radius: 2px;
    border: none;
}


/* buttons*/
.btn {
	display: inline-block;
	background: var(--primary-color);
	color: #fff;
	padding: 0.4rem 1.3rem;
	font-size: 1rem;
	text-align: center;
	border: none;
	cursor: pointer;
	margin-right: 0.5rem;
	transition: opacity 0.2s ease-in;
	outline: none;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
	border-radius: 2px;
}

.btn-round {
    border-radius: 5px;
}

.btn-lg {
    font-size: 1.7rem;
    padding: 0.8rem 1.8rem;
    margin: auto;
}
/* text */
.text-lg {
	font-size: 3rem;
	margin-bottom: 1rem;
}

.text-md {
	margin-bottom: 1rem;
	font-size: 1.6rem;
}